.message {
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    background-color: #e7e7e7;
    margin-bottom: 5px;
    padding: 10px;
}

.user {
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    background-color: #e7e7e7;
    padding: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}